<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>Feather Lyrics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">

    

    </head>
    <body>
     <div class="page">
        <header class="header">
            <div class="menublock">
                <img id="logo" src="img/logo.png" alt="feather-lyrics" height="70px" width="70px"> 
                <div class="menulist">
                    <h1 class="menutext" id="lesson" >Lesson</h1>
                    <a href="http://localhost:3000/">
                    <h1 class="menutext" id="home">Home</h1>
                    </a>
                    <h1 class="menutext" id="vocablulary">Vocabulary</h1>
                </div>
                <div class="menulog">
                    <button class="menutext" id="login" onclick="authorize();">Login</button>
                    <h1 class="menutext" id="info">Info</h1>
                </div>
            </div>
        </header>
        <main class="content">
                <div class="side">
                    <div class="centre">
                        <div class="LogoTitleDesc">
                            <h1><%= songId %></h1>
                            <% songs.forEach((song)=> { %>
                            <div class="song">
                                <div class="songslogo">
                                        <img alt="Song Image" height="100px" width="100px" src=<%= song.SongImage %>>
                                </div>
                                <div class="songtitle">
                                        <h1 id="title" class="text"><%= song.SongTitle %></h1>
                                        <h2 class="text"><%= song.SongAuthor %></h2>
                                </div>
                                <div class="description">
                                    <% if (song) { %>
                                        <h1 id="difficult" class="textsymbol">✰ <%= song.difficult %></h1>
                                        <h2 id="likes" class="textsymbol">♥: <%= song.like %></h2>
                                    <% } %>
                                </div>
                            </div>
                            <% }) %>
                            <!-- ★ -->
                        </div>
                    </div>
                </div>
        </main>
        <footer class="footer">
            <div class="pagination">
                <a href="#">&laquo;</a>
                <a class="active" href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">&raquo;</a>
              </div>
        </footer>
    </div>
        <script src="js/jquery-3.6.0.min.js"></script>
        <script src="/public/js/script.js"></script> 
        <script src="/public/js/script.ts"></script>  
    </body>
</html>