<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>Feather Lyrics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">

    

    </head>
    <body>
        <a href="http://Feather_Lyrics/">
            <h1 class="menutext" id="home">Home</h1>
            </a>
     <div class="page">
        <header class="header">
            <div class="menublock">
                <img id="logo" src="img/logo.png" alt="feather-lyrics" height="64px" width="64px"> 
                <div class="menulist">
                    <h1 class="menutext" id="lesson" >Lesson</h1>
                    <a href="http://localhost:3000/">
                    <h1 class="menutext" id="home">Home</h1>
                    </a>
                    <h1 class="menutext" id="vocablulary">Vocabulary</h1>
                </div>
                <div class="menulog">
                    <h1 class="menutext" id="login" onclick="authorize();"></h1>>Login</h1>
                    <h1 class="menutext" id="info">Info</h1>
                </div>
            </div>
        </header>
        <main class="content">
                <div class="side">
                    <div class="centre">
                        <div class="LogoTitleDesc">
                            <a href="http://localhost:3000/song">
                            <div class="song">
                                <div class="songslogo">
                                    <% if (songdata) { %>
                                        <img alt="Song Image" height="100px" width="100px" src=<%= songdata.SongImage %>>
                                    <% } %>
                                </div>
                                <div class="songtitle">
                                    <% if (songdata) { %>
                                        <h1 id="title" class="text"><%= songdata.SongTitle %></h1>
                                        <h2 class="text"><%= songdata.SongAuthor %></h2>
                                    <% } %>
                                </div>
                                <div class="description">
                                    <% if (likedata) { %>
                                        <h1 id="difficult" class="text">Difficult: <%= likedata.difficult %></h1>
                                        <h2 class="text">Count Likes: <%= likedata.like %></h2>
                                    <% } %>
                                </div>
                            </div>
                            </a>
                            <a href="http://localhost:3000/song2">
                            <div class="song">
                                <div class="songslogo">
                                    <% if (song1data) { %>
                                        <img alt="Song Image" height="100px" width="100px" src=<%= song1data.SongImage %>>
                                    <% } %>
                                </div>
                                <div class="songtitle">
                                    <% if (song1data) { %>
                                        <h1 id="title" class="text"><%= song1data.SongTitle %></h1>
                                        <h2 class="text"><%= song1data.SongAuthor %></h2>
                                    <% } %>
                                </div>
                                <div class="description">
                                    <% if (like1data) { %>
                                        <h1 id="difficult" class="text">Difficult: <%= like1data.difficult %></h1>
                                        <h2 class="text">Count Likes: <%= like1data.like %></h2>
                                    <% } %>
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
        </main>
        <footer class="footer"></footer>
    </div>
        <script src="js/jquery-3.6.0.min.js"></script>
        <script src="js/script.js"></script> 
        <script src="js/script.ts"></script>  
    </body>
</html>