<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>Feather Lyrics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">

    

    </head>
    <body>
     <div class="page">
        <header class="header">
            <div class="menublock">
                <img id="logo" src="img/logo.png" alt="feather-lyrics" height="70px" width="70px"> 
                <div class="menulist">
                    <h1 class="menutext" id="lesson" >Lesson</h1>
                    <a href="http://localhost:3000/">
                    <h1 class="menutext" id="home">Home</h1>
                    </a>
                    <h1 class="menutext" id="vocablulary">Vocabulary</h1>
                </div>
                <div class="menulog">
                    <button class="menutext" id="login" onclick="authorize();">Login</button>
                    <h1 class="menutext" id="info">Info</h1>
                </div>
            </div>
        </header>
        <main class="content">
                <div class="side">
                    <div class="centre">
                        <div class="LogoTitleDesc">
                            <% if (songs) { %>
                            <div class="song">
                                <div class="songslogo"> 
                                        <img alt="Song Image" height="100px" width="100px" src=<%= songs[songId].SongImage %>>
                                </div>
                                <div class="songtitle">
                                        <h1 id="title" class="text"><%= songs[songId].SongTitle %></h1>
                                        <h2 class="text"><%= songs[songId].SongAuthor %></h2>
                                </div>
                                <div class="description">
                                        <h1 id="difficult" class="textsymbol">✰ <%= songs[songId].difficult %></h1>
                                        <h2 id="likes" class="textsymbol">♥: <%= songs[songId].like %></h2>
                                </div>
                            </div>
                            <% } %>
                            <!-- ★ -->
                            <div class="lyrics">
                            <h1 id="LyricWord" class="text">Lyrics</h1>
                            <h1 class="textlyrics">
                                <% if (lyrics) { %> <%= lyrics[songId].text %>
                                <% } %>
                        </div>
                        </div>
                    </div>
                </div>
        </main>
        <footer class="footer">
        </footer>
    </div>
        <script src="js/script.js"></script>  
    </body>
</html>