<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>Feather Lyrics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">

    

    </head>
    <body>
     <div class="page">
        <header class="header">
            <div class="menublock">
                <img id="logo" src="img/logo.png" alt="feather-lyrics" height="64px" width="64px"> 
                <div class="menulist">
                    <h1 class="menutext" id="lesson" >Lesson</h1>
                    <a href="http://localhost:3000/">
                        <h1 class="menutext" id="home">Home</h1>
                    </a>
                    <h1 class="menutext" id="vocabulary">Vocabulary</h1>
                </div>
                <div class="menulog">
                    <h1 class="menutext" id="login">Login</h1>
                    <h1 class="menutext" id="info">Info</h1>
                </div>
            </div>
        </header>
        <main class="content">
                <div class="side">
                    <div class="centre">
                        <div class="LogoTitleDesc">
                            <div class="song">
                                <div class="songslogo">
                                    <% if (songdata) { %>
                                        <img alt="Song Image" height="100px" width="100px" src=<%= songdata.SongImage %>>
                                    <% } %>
                                </div>
                                <div class="songtitle">
                                    <% if (songdata) { %>
                                        <h1 id="title" class="text"><%= songdata.SongTitle %></h1>
                                        <h2 class="text"><%= songdata.SongAuthor %></h2>
                                    <% } %>
                                </div>
                                <div class="description">
                                    <% if (songdata) { %>
                                        <h1 id="difficult" class="text">Difficult: <%= songdata.difficult %></h1>
                                        <h2 class="text">Count Likes: <%= songdata.like %></h2>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="lyrics">
                            <h1 id="LyricWord" class="text">Lyrics</h1>
                            <h1 class="textlyrics">
                                <% if (arraydata) { %> <%= arraydata.textafter %>
                                <% } %>
                        </div>
                    </div>
                </div>
        </main>
        <footer class="footer"></footer>
    </div>
        <script src="js/jquery-3.6.0.min.js"></script>
        <!-- <script src="js/script.js"></script>   -->
    </body>
</html>