<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>Feather Lyrics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">

    

    </head>
    <body>
     <div class="page">
        <header class="header">
            <div class="menublock">
                <img id="logo" src="img/FEATHER LYRICS_free-file.png" alt="feather-lyrics" height="70px" width="140px"> 
                <div class="menulist">
                    <h1 class="menutext" id="lesson" >Lesson</h1>
                    <a href="http://localhost:3000/">
                    <h1 class="menutext" id="home">Home</h1>
                    </a>
                    <a href="http://localhost:3000/vocabulary">
                    <h1 class="menutext" id="vocabulary">Vocabulary</h1>
                    </a>
                </div>
                <div class="menulog">
                    <a href="http://localhost:3000/loginpage">
                        <h1 class="menutext" id="login">Login</h1>
                    </a>
                    <a href="http://localhost:3000/profile">
                    <h1 class="menutext" id="profile">Profile</h1>
                    </a>
                </div>
            </div>
        </header>
        <main class="content">
                <div class="side">
                    <div class="centre">
                        <div class="words">
                            <div class="LogoTitleDescVoc">
                            <div class="Main">
                                <div class="songVoc">
                                    <div class="songslogoVoc">
                                            <img alt="Song Image" height="70px" width="70px" src=<%= songs[1].SongImage %>>
                                    </div>
                                    <div class="songtitleVoc">
                                            <h1 id="titleVoc" class="text"><%= songs[1].SongTitle %></h1>
                                            <h2 class="text"><%= songs[1].SongAuthor %></h2>
                                    </div>
                                </div>
                            </div>
                            <div class="ExtendAll">
                                <div class="Extend">
                                <h1 id="WORD">WORD</h1>
                                <h1 id="TRANSLATION">Переклад</h1>
                                </div>
                                <div class="Extend">
                                <h1 id="WORD">WORD</h1>
                                <h1 id="TRANSLATION">Переклад</h1>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
        </main>
        <footer class="footer">
            <div id="pagination" class="pagination">
                <!-- <a href="#">&laquo;</a> -->
                <% for (let i = 1; i <= 5; i++) { %>
                    <% if (i === pageNumber) { %>
                      <a id="<%= i %>" class="active"><%= i %></a>
                    <% } else { %>
                      <a id="<%= i %>" class="deactive"><%= i %></a>
                    <% } %>
                  <% } %>
                <!-- <a href="#">&raquo;</a> -->
              </div>
        </footer>
    </div>
        <script src="js/script.js"></script>
        <script src="js/pagination.js"></script>
    </body>
</html>